.jumbotron {
    background: url("https://www.yodlee.com/sites/default/files/styles/hero_1920x650/public/2019-12/What-is-Credit-Risk-Modeling.jpg?itok=Dv03rbQI") center center / cover no-repeat;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.index_header {
    color: whitesmoke;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
  }