<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Credit Risk Analysis</title>

    <!-- Bring in our bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Our CSS stylesheet -->
    <link rel="stylesheet" type= "text/css" href="css/style.css">

</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Riskies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/explore">Exploratory Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prediction">Risk Prediction</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Data
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/about">About Data</a></li>
                <li><a class="dropdown-item" href="/data">Data Dictionary</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://github.com/Kswartz11/final-project/tree/main/Resources">Download Data</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About Us</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</div>

    <div class="container">
        <div class="jumbotron index_header">
            <h1 class="display-4">US Credit Risk Dashboard</h1>
            <p class="lead">Credit Risk Modelling in Python</p>
          </div>
    </div>

    
    <!-- Data Abbreviation -->
    <div class="container">
      <h4> </h4>
      <h4>Data Abbreviation</h4>
      <h4> </h4>
      <dl class="row">
      
        <dt class="col-sm-3">LoanStatNew</dt>
        <dd class="col-sm-9"><p>A description list is perfect for defining terms</dd>
      
        <dt class="col-sm-3">loan_amnt</dt>
        <dd class="col-sm-9">The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.</dd>
      
        <dt class="col-sm-3 text-truncate">funded_amnt</dt>
        <dd class="col-sm-9">The total amount committed to that loan at that point in time.</dd>
      
        <dt class="col-sm-3 text-truncate">term_yrs</dt>
        <dd class="col-sm-9">The number of payments on the loan. Value are in years</dd>

        <dt class="col-sm-3 text-truncate">int_rate</dt>
        <dd class="col-sm-9">Interest Rate on the loan</dd>

        <dt class="col-sm-3 text-truncate">installment</dt>
        <dd class="col-sm-9">The monthly payment owed by the borrower if the loan originates.</dd>

        <dt class="col-sm-3 text-truncate">grade</dt>
        <dd class="col-sm-9">LC assigned loan grade</dd>

        <dt class="col-sm-3 text-truncate">emp-length</dt>
        <dd class="col-sm-9">Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. </dd>

        <dt class="col-sm-3 text-truncate">home_ownership</dt>
        <dd class="col-sm-9">The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.</dd>

        <dt class="col-sm-3 text-truncate">annual_inc</dt>
        <dd class="col-sm-9">The self-reported annual income provided by the borrower during registration.</dd>

        <dt class="col-sm-3 text-truncate">issue-d</dt>
        <dd class="col-sm-9">The month which the loan was funded</dd>

        <dt class="col-sm-3 text-truncate">loan_status</dt>
        <dd class="col-sm-9">Current status of the loan</dd>

        <dt class="col-sm-3 text-truncate">desc</dt>
        <dd class="col-sm-9">Loan description provided by the borrower</dd>

        <dt class="col-sm-3 text-truncate">purpose</dt>
        <dd class="col-sm-9">A category provided by the borrower for the loan request. </dd>

        <dt class="col-sm-3 text-truncate">title</dt>
        <dd class="col-sm-9">The loan title provided by the borrower</dd>

        <dt class="col-sm-3 text-truncate">zip_code</dt>
        <dd class="col-sm-9">The first 3 numbers of the zip code provided by the borrower in the loan application.</dd>

        <dt class="col-sm-3 text-truncate">addr-state</dt>
        <dd class="col-sm-9">The state provided by the borrower in the loan application</dd>

        <dt class="col-sm-3 text-truncate">revol_bal</dt>
        <dd class="col-sm-9">Total credit revolving balance</dd>

        <dt class="col-sm-3 text-truncate">out_pnrcp</dt>
        <dd class="col-sm-9">Remaining outstanding principal for total amount funded</dd>

        <dt class="col-sm-3 text-truncate">total_pymnt</dt>
        <dd class="col-sm-9">Payments received to date for total amount funded</dd>

        <dt class="col-sm-3 text-truncate">total_rec_prncp</dt>
        <dd class="col-sm-9">Principal received to date</dd>

        <dt class="col-sm-3 text-truncate">total_rec_int</dt>
        <dd class="col-sm-9">Interest received to date</dd>

        <dt class="col-sm-3 text-truncate">last_pymnt-d</dt>
        <dd class="col-sm-9">Last month payment was received</dd>

        <dt class="col-sm-3 text-truncate">last_pymnt-amnt</dt>
        <dd class="col-sm-9">The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.</dd>

        <dt class="col-sm-3 text-truncate">application_type</dt>
        <dd class="col-sm-9">Indicates whether the loan is an individual application or a joint application with two co-borrowers</dd>
      
          </dl>
        </dd>
      </dl>
    </div>

    <!-- Loading Data 

    <div class="container">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <script>
        function arrayToTable(tableData) {
            var table = $('<table></table>');
            $(tableData).each(function (i, rowData) {
                var row = $('<tr></tr>');
                $(rowData).each(function (j, cellData) {
                    row.append($('<td>'+cellData+'</td>'));
                });
                table.append(row);
            });
            return table;
        }
        
        $.ajax({
            type: "GET",
            url: "Resources/loan_predication.csv",
            success: function (data) {
                $('body').append(arrayToTable(Papa.parse(data).data));
            }
        });
        </script>
        </div>
      </div>-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>